/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12/09/2023, 19:55:40
    Author     : orlan
*/


/*Text________________________________*/
.text4xl{
    font-size: 2.75rem !important;
}

.text3xl{
    font-size: 2rem !important;
}

.text2xl{
    font-size: 1.5rem !important;
}

.red-text{
    color: red;
}

.white-text{
    color: white !important;
}

.underline-text{
    text-decoration: underline;
}

.thicker-text{
    font-weight: bold;
}

.text-justify{
    text-align: justify;
}

.text-center{
    text-align: center;
}

/*Position________________________________*/

.center{
    margin: 0 auto !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    place-self: center !important;
}


.horizontal-center{
    margin: 0 auto !important;
    position: absolute !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    place-self: center !important;
}

.vertical-center{
    margin: 0 auto !important;
    position: absolute !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    place-self: center !important;
}

.center-content{
    justify-content: center !important;
}

.flex-space-evenly{
    justify-content: space-evenly
}

.block-display{
    display: block !important;
}

.flex-display{
    display: flex !important;
}

.grid-display{
    display: grid !important;
}

.right-side{
    float: right;
}

.position-absolute{
    position:absolute;
}

/*Space/Margin_________________________________*/

.margin-right-low{
    margin-right: 20px;
}

.margin-left-low{
    margin-left: 20px;
}

.margin-top-low{
    margin-top: 10px;
}

.margin-bottom-low{
    margin-top: 10px;
}

.padding-big{
    padding:80px;
}

.padding-normal{
    padding:40px;
}

.padding-low{
    padding:20px;
}

.margin-normal{
    margin: 20px;
}

.margin-bottom-normal{
    margin-top: 40px;
}

.background-white{
    background: rgba(255, 255, 255, 1);
}

.background-red{
    background: rgba(255, 20, 20, 1) !important;
}

.background-fade-top{
  -webkit-mask-image: -webkit-gradient(linear, center top, center bottom,
      color-stop(0.00,  rgba(0,0,0,0)),
      color-stop(1.00,  rgba(0,0,0,1)));
}

/*Image*/

.fix-ratio{
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover !important;   
}

/*Structure*/

.footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 30;
}

