/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27/09/2023, 18:18:59
    Author     : orlan
*/

.parallax{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;  
    -ms-overflow-style: none; 
}

.parallax::-webkit-scrollbar{
    display: none;
}


.header-parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background-z, .foreground-z{
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: -1;
}



.foreground-z{
    position: fixed;
     bottom:-300px;
}

.top-move{
    top:0%
}

.bottom-move{
    bottom:0%
}

.title-parallax{
    display: flex;
    font-size: 20rem !important;
    color: white;
    text-shadow: 0 0 5px black;
    z-index: -1;
    position: fixed;
    width: 100%;
    transform: translateZ(-10px) scale(2);
    justify-content: center;
    align-items: center;
}

.textblock-parallax{
    font-size: 3rem;
    background-color: activeborder;
    padding: 2rem;
    color: whitesmoke
}


.background-z{
    transform: translateZ(-10px) scale(2);

}

.foreground-z{
    transform: translateZ(-5px) scale(1.5);
}

.parallax-faraway{
    transform: translateZ(-4px) scale(1.4);
}