/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12/09/2023, 19:49:03
    Author     : orlan
*/

.ui-tabs .ui-tabs-panels{
    background: rgba(255, 255, 255, 0) !important;
}

.ui-dataview .ui-dataview-content{
    background: rgba(255, 255, 255, 0.75) !important;
}

.ui-tabs .ui-tabs-nav {
    background: rgba(255, 255, 255, 0.90) !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-header{
    background: rgba(255, 255, 255, 0.90) !important;
}

.ui-dataview-header{
    display: none !important;
}

.ui-g{
    justify-content: center;
}

.nav.navbar-nav li{
    margin: 10px;
}

.ui-button-text.ui-c{
    font-size: 1.75rem;
}