/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 10/08/2023, 13:38:22
    Author     : orlan
*/


html{
    height: 100%;
}

body{
    background-image: url("#{resource['img/backgroung.jpg']}");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    min-height: 100%;
}

#articles-form{
    display: none;
}

.articles-container{
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.header-container{
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
}

.login-container{
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 23px;
    align-content:space-between;
}

.sign-in-button.ui-button{
    margin-right: 30px;
}

.user-panel{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.user-badge{
    margin-left:10px;
    margin-right: 20px;
    background-color:#5cb85c !important;
}

.avatar{
    background-color: dodgerblue;
    color:#fff;
}

.logout-confirm-yes{
    margin-right: 20px;
}

.form-label{
    font-size: 1rem;
}

.error-messages{
    color: red;
}


.post-card{
    margin: 20px;
    width: 300px;
    height: 350px;
}

.post-card-img{
    max-height: 200px;
    max-width: 250px;
    width: auto;
    height: auto;
    border: dashed;
    border-radius: 70% 10% / 2% 40%;
}

#post-dialog{
    width: 1500px !important;
    height: auto !important;;
}


.post-dialog-image{
    max-width: 1400px;
    border-radius: 2%;
}

.not-found-img{
    content: url("#{resource['img/error-404.png']}");    
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.go-back{
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1550px) {
  #post-dialog{
    max-width: 1300px;
   }
  .post-dialog-image{
    max-width: 1200px;
  }
}

@media screen and (max-width: 1350px) {
  #post-dialog{
    max-width: 1100px;
   }
  .post-dialog-image{
    max-width: 1000px;
  }
}

@media screen and (max-width: 1150px) {
  #post-dialog{
    max-width: 875px;
   }
  .post-dialog-image{
    max-width: 775px;
  }
}


@media screen and (max-width: 900px) {
  #post-dialog{
    max-width: 750px;
   }
  .post-dialog-image{
       max-width: 650px;
  }
  
  #general-text-post-dialog{
      font-size: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  #post-dialog{
    max-width: 650px;
   }
  .post-dialog-image{
       max-width: 550px;
  }
}

@media screen and (max-width: 750px) {
  .post-card-img {
    max-height:400px;
    max-width: 400px;
    width: auto;
    height: auto;
  }
  
  .post-card {
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  #post-dialog{
    max-width: 650px;
   }
  .post-dialog-image{
       max-width: 550px;
  }
}

@media screen and (max-width: 650px) {
  #post-dialog{
    max-width: 550px;
   }
  .post-dialog-image{
       max-width: 450px;
  }
}

@media screen and (max-width: 600px) {
  .articles-container {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .header-container {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #post-dialog{
    max-width: 500px;
  }
  
  .post-dialog-image{
       max-width: 400px;
  }
}

@media screen and (max-width: 507px) {
  .post-card-img {
    max-height:250px;
    max-width: 250px;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .post-card-img {
    max-height:250px;
    max-width: 250px;
    width: auto;
    height: auto;
  }
  
  #post-dialog{
    max-width: 400px;
   }
   
  .post-dialog-image{
       max-width: 300px;
  }
  
  #general-text-post-dialog{
      padding: 3px;
  }
}

@media screen and (max-width: 400px) {
  
  #post-dialog{
    max-width: 300px;
   }
   
  .post-dialog-image{
       max-width: 200px;
  }
}

@media screen and (max-width: 358px) {
  .post-card-img {
    max-height:90px;
    max-width:90px;
    width: auto;
    height: auto;
  }
}


